<template>

    <div innerHtml.bind="longDescription"></div>

    <h3>Registration Costs</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="fee of fees">
                <td>${fee.description}</td>
                <td>$${fee.cost} each</td>
            </tr>
        </tbody>
    </table>
    
    <p class="text-right">
        <a href="#/" class="">Cancel</a>&nbsp;
        <a route-href="route: start" class="btn btn-success">Register Now</a>
    </p>

</template>