<template>
    <require from="./Family.css"></require>

    <h1>
       Information Update
    </h1>

    <p>
        To complete your registration, please ensure that all the members of your household
        are displayed below and the information on each person is accurate.
    </p>

    <div if.bind="errors.length">
        <div class="alert alert-danger" repeat.for="error of errors">
            ${error}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills family-list">
                <li role="presentation" repeat.for="person of people" class="${selectedPerson === person ? 'active': ''}">
                    <a href="#" click.delegate="selectPerson(person)">
                        <i class="fa ${person.child ? 'fa-child':'fa-user'}"></i> ${person.displayName}
                    </a>
                </li>               
            </ul>            
        </div>
        <div class="panel-body">
            <compose if.bind="selectedPerson" view-model="./Person" model.bind="selectedPerson"></compose>
            <div if.bind="!selectedPerson">
                <p if.bind="people.length === 1">
                    You have ${people.length} person in your household.
                </p>
                <p if.bind="people.length !== 1">
                    You have ${people.length} people in your household.
                </p>
                <p>
                    <button class="btn btn-info" click.delegate="addPerson(true)">
                        <i class="fa fa-child"></i> Add a Child
                    </button>
                    <button class="btn btn-info" click.delegate="addPerson(false)">
                        <i class="fa fa-user"></i> Add an Adult
                    </button>
                </p>
            </div>
            <!--<p>
                <button class="btn btn-danger" if.bind="selectedPerson" click.delegate="removeSelected()">Remove Person</button>
            </p>-->
        </div>
    </div>

    <p class="text-right" if.bind="!selectedPerson">
        <a route-href="route: start">Cancel</a>&nbsp;
        <button class="btn btn-success" click.delegate="nextClicked()">Next Step</button>
    </p>
    
</template>