<template>
    
    <div if.bind="errorMessage" class="alert alert-warning">
        ${errorMessage}
    </div>

    <form if.bind="showEmailSearchForm" submit.delegate="findClicked()">
        <h2>Get Started</h2>

        <p>Begin the registration process by entering your e-mail address below.</p>

        <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" value.bind="emailAddress">
        </div>
        <button type="submit" class="btn btn-primary" click.delegate="findClicked()">Submit</button>
    </form>

    <form if.bind="showLoginForm">
        <h2>Welcome Back!</h2>

        <p>
            It looks like you are already in our database. We have sent you an e-mail message
            in order to confirm your identity. Please check your e-mail, and enter the code
            you received in the space provided below:
        </p>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <p class="form-control-static">${emailAddress}</p>
        </div>
        <div class="form-group">
            <label for="validationCode">Verification Code</label>
            <input type="text" class="form-control" id="validationCode" placeholder="Enter the verification code here" value.bind="token">
        </div>

        <a href="#" click.delegate="cancelClicked()">Cancel</a>
        <button type="submit" class="btn btn-primary" click.delegate="confirmClicked()">Submit</button>
    </form>

    <form if.bind="showFirstTimeForm">
        <h2>Welcome</h2>
        <p>
            It looks like you aren't in our database yet. Please enter your contact information
            below to continue the registration process.
        </p>

        <compose view-model="./Person" model.bind="newPerson"></compose>
    </form>    


</template>