<template>
    
    <div if.bind="errorMessage" class="alert alert-danger">
        ${errorMessage}
    </div>

    <form if.bind="showEmailSearchForm" submit.delegate="findClicked()">
        <h1>Get Started</h1>

        <p>Begin the registration process by entering your e-mail address below.</p>

        <div class="form-group">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" value.bind="emailAddress">
        </div>

        <p class="text-right">
            <a href="/">Cancel</a>&nbsp;
            <button type="submit" class="btn btn-primary" click.delegate="findClicked()">Submit</button>
        </p>
    </form>

    <form if.bind="showLoginForm" submit.delegate="verifyCodeClicked()">
        <h1>Welcome Back!</h1>

        <p>
            It looks like you are already in our database. In order to verify your identity, we just sent you an e-mail message
            to the address below. Please enter the verification code found in that message below. It may take a
            few minutes before you receive the message.
        </p>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <p class="form-control-static">${emailAddress}</p>
        </div>
        <div class="form-group">
            <label for="validationCode">Verification Code</label>
            <input type="text" class="form-control" id="validationCode" placeholder="Enter the verification code here" autocomplete="off" value.bind="token">
        </div>

        <p class="text-right">
            <a href="#" click.delegate="cancelClicked()">Cancel</a>&nbsp;
            <button type="submit" class="btn btn-primary" click.delegate="verifyCodeClicked()" disabled.bind="inProgress">Submit</button>
        </p>
    </form>

    <form if.bind="showFirstTimeForm">
        <h1>We Need Some Info</h1>
        <p>
            It looks like you aren't in our database yet. Please enter <b>your</b> contact information
            below to continue the registration process.
        </p>

        <compose view-model="./Person" model.bind="newPerson"></compose>
    </form>    


</template>