@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.validation-error {
    color: #ff4c4c;
}

.navbar-inverse {
    background-color: #3a3a3a;
}

.enroll-check > input[type=checkbox] {
    height: 24px;
    width :24px;
    line-height:40px;
}

.enroll-check > .fa {
    font-size: 24px;
    line-height:40px;
}