<template>
    <require from="../navmenu/navmenu.html"></require>
    <require from="./app.css"></require>

    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    ${siteName}
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <router-view></router-view>
        <!--<div class="row">
            <div class="col-sm-3">
                <navmenu router.bind="router"></navmenu>
            </div>
            <div class="col-sm-9 body-content">
                <router-view></router-view>
            </div>
        </div>-->
    </div>
</template>
